<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Horsy</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/horses" routerLinkActive="active"
          >Horses</a
        >
      </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/signin" routerLinkActive="active"
        >Sign in</a
      >
      <a class="nav-link" routerLink="/signup" routerLinkActive="active"
        >Sign up</a
      >
      <a class="nav-link" style="cursor: pointer">Logout</a>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
